language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

env:
  - SYMFONY_VERSION="2.5.*"
  - SYMFONY_VERSION="2.6.*"

matrix:
    allow_failures:
        - php: hhvm-nightly

before_script:
  - composer require "symfony/framework-bundle:${SYMFONY_VERSION}" --no-update
  - composer require "symfony/finder:${SYMFONY_VERSION}" --no-update
  - composer update
  - bin/parallel-lint -e php,phpt --exclude vendor .

script: bin/phpunit --testdox
